<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Деятельность МЧС - Краснодар</title>
    <link rel="icon" href="{% static 'image/pngwing.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="{% static 'image/pngwing.png' %}" alt="MCHS Logo">
            </div>
        </div>
        <div class="title">
            <h1>МЧС России – Информационная система</h1>
        </div>
    </header>

    <nav>
        <div class="nav-container">
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul class="main-menu">
                <li><a href="/main">Главная</a></li>
                <li><a href="/departments">Отделения</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Отчеты</a>
                    <div class="dropdown-content">
                        <a href="{% url 'create_report' %}">Создать новый отчёт</a>
                        <a href="{% url 'all_reports' %}">Все отчёты</a>
                    </div>
                </li>
                <li><a href="/activity">Деятельность</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Настройки</a>
                    <div class="dropdown-content">
                        <a href="#">Пользовательские настройки</a>
                        <a href="#">Настройки доступности</a>
                        <a href="{% url 'admin_page' %}" target="_blank">Администрирование</a>
                    </div>
                </li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <h2 class="head-text">Основные направления деятельности МЧС в Краснодаре</h2>
        <div class="info-block">
            <h3>Пожарная безопасность</h3>
            <p>Одним из ключевых направлений работы МЧС является обеспечение пожарной безопасности. Специалисты регулярно проводят инспекции объектов, проверяют соблюдение требований пожарной безопасности и организуют профилактические мероприятия для предотвращения пожаров. Важное внимание уделяется информированию населения о правилах пожарной безопасности, что позволяет минимизировать число чрезвычайных происшествий.</p>
        </div>
        <div class="info-block">
            <h3>Реагирование на чрезвычайные ситуации</h3>
            <p>МЧС России в Краснодарском крае оказывает оперативную помощь при возникновении чрезвычайных ситуаций, таких как наводнения, лесные пожары и техногенные аварии. Важная цель — минимизация последствий катастроф и обеспечение безопасности населения. Сотрудники МЧС работают круглосуточно, оперативно реагируя на все возникающие угрозы.</p>
        </div>
        <div class="info-block">
            <h3>Профилактика и обучение населения</h3>
            <p>С целью снижения количества чрезвычайных ситуаций, МЧС проводит регулярные обучающие мероприятия для населения. Особое внимание уделяется детям и подросткам: обучающие занятия по поведению в опасных ситуациях помогают воспитывать культуру безопасности с раннего возраста. Также проводятся тренировки и инструктажи для сотрудников предприятий и организаций.</p>
        </div>
        <div class="info-block">
            <h3>Контроль за промышленной безопасностью</h3>
            <p>МЧС осуществляет постоянный мониторинг промышленных предприятий региона, контролируя соблюдение норм безопасности. Проводится инспекционная деятельность, направленная на предотвращение аварий на предприятиях и снижение потенциальных рисков для населения и окружающей среды. Особое внимание уделяется предприятиям с повышенной степенью опасности.</p>
        </div>
        <div class="info-block">
            <h3>Достижения МЧС в Краснодарском крае</h3>
            <p>МЧС России в Краснодарском крае достигло значительных успехов в снижении количества пожаров и иных чрезвычайных ситуаций. Благодаря профилактическим мерам, число пожаров сократилось на 15% за последние два года. Также, внедрение новых технологий позволило сократить время реагирования на чрезвычайные происшествия до 8 минут, что значительно повышает эффективность работы спасателей. Кроме того, успешно реализованы программы по обучению населения: более 50 000 человек прошли обучение основам безопасности за последние пять лет.</p>
        </div>
    </div>

    <script>
        function toggleMenu() {
            const navContainer = document.querySelector('.nav-container');
            navContainer.classList.toggle('open');
        }
    </script>
</body>
</html>
