<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пользователя</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/pngwing.png' %}" alt="MCHS Logo" width="100" height="100">
        </div>
        <div class="title">
            <h1>Добавить пользователя</h1>
        </div>
    </header>

    <div class="add-user-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить пользователя</button>
        </form>

        <!-- Отображение сообщений -->
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li {{ message.tags }}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
