<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администрирование</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Введите пароль для доступа к администрированию</h1>
    </header>

    <main>
        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                <div class="input-row">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Войти</button>
            </form>

            <!-- Отображение сообщений об ошибках -->
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {{ message.tags }}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
</body>
</html>
