<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все отчеты</title>
    <link rel="icon" href="{% static 'image/pngwing.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="{% static 'image/pngwing.png' %}" alt="MCHS Logo">
            </div>
        </div>
        <div class="title">
            <h1>МЧС России – Информационная система</h1>
        </div>
    </header>

    <nav>
        <div class="nav-container">
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul class="main-menu">
                <li><a href="/main">Главная</a></li>
                <li><a href="/departments">Отделения</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Отчеты</a>
                    <div class="dropdown-content">
                        <a href="{% url 'create_report' %}">Создать новый отчёт</a>
                        <a href="{% url 'all_reports' %}">Все отчёты</a>
                    </div>
                </li>
                <li><a href="/activity">Деятельность</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Настройки</a>
                    <div class="dropdown-content">
                        <a href="#">Пользовательские настройки</a>
                        <a href="#">Настройки доступности</a>
                        <a href="{% url 'admin_page' %}" target="_blank">Администрирование</a>
                    </div>
                </li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <h2 class="head-text">Отчеты</h2>
        <form method="post" action="{% url 'submit_tasks' %}">
            {% csrf_token %}
            {% for report in reports %}
            <div class="info-block">
                <label for="task{{ forloop.counter }}">
                    <h3>Отчет – {{report.report_name}}</h3>
                    <p>Сотрудник: {{ report.employee_name }}</p>
                    <p>Отделение: {{ report.department }}</p>
                    <p>Адрес: {{ report.address }}</p>
                    <p>Дата отчета: {{ report.report_date }}</p>
                </label>
            </div>
            {% endfor %}
        </form>
    </div>

    <script>
        function toggleMenu() {
            const navContainer = document.querySelector('.nav-container');
            navContainer.classList.toggle('open');
        }
    </script>
</body>
</html>