<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="icon" href="{% static 'image/pngwing.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="{% static 'image/pngwing.png' %}" alt="MCHS Logo">
            </div>
        </div>
        <div class="title">
            <h1>МЧС России – Информационная система</h1>
        </div>
    </header>

    <nav>
        <div class="nav-container">
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul class="main-menu">
                <li><a href="/main">Главная</a></li>
                <li><a href="/departments">Отделения</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Отчеты</a>
                    <div class="dropdown-content">
                        <a href="{% url 'create_report' %}">Создать новый отчёт</a>
                        <a href="{% url 'create_report' %}">Все отчёты</a>
                    </div>
                </li>
                <li><a href="/activity">Деятельность</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Настройки</a>
                    <div class="dropdown-content">
                        <a href="#">Пользовательские настройки</a>
                        <a href="#">Настройки доступности</a>
                        <a href="{% url 'admin_page' %}" target="_blank">Администрирование</a>
                    </div>
                </li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <main class="content">
        <div class="title-container">
            <h2>ГУ МЧС России по Краснодарскому краю</h2>
        </div>
        <div class="contact-info-container">
            <div class="info-block">
                <p><strong>Адрес:</strong> г. Краснодар, ул. Уральская, д. 121</p>
                <p><strong>Телефон доверия:</strong> <span class="phone-number">+7 (861) 268-64-40</span></p>
                <p><strong>Сайт:</strong> <a href="http://23.mchs.gov.ru/" target="_blank">23.mchs.gov.ru</a></p>
            </div>
        </div>

        <h3 style="text-align: center;">Главное управление МЧС России по Краснодарскому краю</h3>
        <div class="contact-info-container">
            <div class="info-block">
                <p><strong>Приёмная начальника:</strong> <span class="phone-number">8 (861) 991-11-76</span></p>
                <p><strong>Единый телефон доверия:</strong> <span class="phone-number">(861) 268-64-40</span></p>
            </div>
        </div>

        <h3 style="text-align: center;">Бесплатные звонки в городские службы экстренной помощи (с мобильного телефона):</h3>
        <ul class="emergency-numbers">
            <li><strong>01 (101)</strong> - Единый телефон пожарных и спасателей</li>
            <li><strong>02 (102)</strong> - полиция</li>
            <li><strong>03 (103)</strong> - скорая помощь</li>
            <li><strong>04 (104)</strong> - газовая аварийная служба</li>
            <li><strong>112</strong> - единый номер вызова экстренных служб</li>
        </ul>
    </main>

    <script>
        function toggleMenu() {
            const navContainer = document.querySelector('.nav-container');
            navContainer.classList.toggle('open');
        }
    </script>
</body>
</html>
